<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#DB0000" />
    <title>Restaurant Apps</title>
    <!-- <script src="https://use.fontawesome.com/b070c8f1df.js"></script> -->
    <link rel="manifest" href="app.webmanifest" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  </head>
  <body>
    <a href="#restaurants" class="skip-to-content">Skip to Content</a>
    <header>
      <nav>
        <a href="#" class="brand-logo">Laparku</a>
        <ul class="menu-list">
          <li><a href="#/">Home</a></li>
          <li><a href="#/like">Favorite</a></li>
          <li><a href="https://github.com/ferdianafza/">About Us</a></li>
        </ul>

        <button id="hamburger" class="drawer-button">&#9776;</button>

        <div class="drawer">
          <a href="#/" style="min-width: 44px; min-height: 44px">Home</a>
          <a href="#/like">Favorite</a>
          <a href="https://github.com/ferdianafza/">About Us</a>
        </div>
      </nav>
    </header>

    <!-- <main>
    <section class="hero">
      <img src="./images/heros/hero-image_2.jpg" alt="Delicious dishes served at our restaurant" />
    </section>

    <div id="restaurant-list"></div>
  </main> -->

    <main id="mainContent" tabindex="0"></main>

    <footer>
      <p>Copyright &copy; 2024 Laparku</p>
    </footer>
  </body>
</html>
